.DS_Store
backend/auth-admin-service/node_modules
backend/auth-admin-service/package-lock.json
backend/auth-admin-service/config/config.env
backend/auth-admin-service/config/jwt/keys
backend/auth-admin-service/config/ssl
backend/auth-admin-service/logs/
/dist

backend/token-validator-service/node_modules
backend/token-validator-service/package-lock.json
backend/token-validator-service/config/config.env
backend/token-validator-service/config/jwt/keys
backend/token-validator-service/config/ssl
backend/token-validator-service/logs/

backend/email-service/node_modules
backend/email-service/package-lock.json
backend/email-service/config/config.env
backend/email-service/config/jwt/keys
backend/email-service/config/ssl
backend/email-service/logs/

frontend/authenticator-ui/node_modules
frontend/authenticator-ui/package-lock.json

reactFrontend/authenticator-ui/node_modules
reactFrontend/authenticator-ui/package-lock.json

adminTool/node_modules
adminTool/package-lock.json

# Ignore Sequelize files
backend/auth-admin-service/src/config/
backend/auth-admin-service/src/seeders/
backend/auth-admin-service/src/migrations/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
