/* Scroll bar Style */
/* Works on Firefox */
* {
  /* scrollbar-width: thin; */
  scrollbar-color: #6c727a #0d1724;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0d1724;
}

*::-webkit-scrollbar-thumb {
  background-color: #6c727a;
  border-radius: 20px;
  border: 3px solid #0d1724;
}


/* Side Panel Styles*/
.side-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--sidePanelWidth);
    height: 100vh;
    background-color: #0a1929;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 0 var(--sidePanelWidth);
	  transition: all .3s;
}

.side-panel-list {
    width: 100%;
    margin: 0px;
    padding: 5px 10px;
    /* overflow: auto; */
    padding-left: 0px;
    height: 100%;
}

.side-panel-list > *:last-child {
    border-left: 1px solid white;
    border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
}

.side-panel-item {
    margin: 0px;
    padding: 5px;
}

.side-panel-link {
    list-style: none;
    text-decoration: none;
}

.logo-container{
    width: 100%;
    /* border-bottom: 1px solid #102943; */
}

.logo-image{
    width: 125px;
    height: auto;
    margin-top: 15px;
}
/* Side Panel Styles*/

.navItem {
    padding: 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .navItem:hover {
    background-color: #1e3a8a;
  }
  
  .activeNavItem {
    color: #dbeafe;
    background-color: #1e3a8a;
  }
  
  .navIcon {
    color: rgb(201, 209, 217);
    width: 17px;
    min-width: 17px;
    height: auto;
    margin: 4px;
    margin-left: 0px;
  }
  
  .navLabel {
    color: rgb(201, 209, 217);
    font-size: 10px;
    margin: 4px;
    word-break: break-all;
    text-align: left;
  }
  
  .navItemHeaderButton {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .navItemHeaderChevron {
    color: #808791;
    width: 20px;
    height: 20px;
    /* margin-left: auto; */
    transition: all 0.25s;
  }
  
  .chevronExpanded {
    transform: rotate(90deg);
  }
  
  .navChildrenBlock {
    background-color: #0a1929;
    /* width: max-content; */
  }

  .sub-menu-navitem {
    padding: 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .sub-menu-navitem:hover {
    background-color: #1e3a8a;
  }

  .sub-nav-children-block {
      
  }
  
.company-title-container {
  text-align: center;
  width: inherit;
  padding-bottom: 5px;
  border-bottom: 1px solid #102943;
}

.company-title {
  color: wheat;
  padding: 10px;
  margin: 0px;
  text-transform: full-width;
  font-weight: bold;
}