:root{
  --navbarHeight: 50px;
  --navBarBackgroundColor: #25262b;
  --navBarTextColor: rgb(238, 229, 229);
  --sidePanelBackgroundColor: rgb(38, 38, 38);
  --sidePanelTextColor: rgb(253, 237, 237);
  --appTextFont: 'Nunito'
}

.App {
  text-align: center;
  font-family: var(--appTextFont);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-image {
  width: 200px;
  height: auto;
  padding: 3px;
  margin: 35px auto;
  margin-bottom: 5px;
  border: solid 2px rgb(180, 101, 10);
  border-radius: 45%;
  box-shadow: 5px 5px 10px #888
}

.form-input-div {
  margin: 10px auto;
  padding: 5px;
  width: 400px;
  height: 80px;
}

.form-input-label {
  display: block;
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 8px;
  font-family: var(--appTextFont);
}

.form-input {
  width: 95%;
  height: 50%;
  padding-left: 20px;
  border-radius: 40px;
  border: 2px solid rgb(143, 110, 110);
  font-size: 20px;
  font-weight: 550;
  font-family: var(--appTextFont);
}

.form-input:focus {
  box-shadow: 5px 5px 10px rgb(179, 179, 179);
}

.login-form {
  margin: 40px auto;
  width: 500px;
  height: 800px;
  border-radius: 1rem;
  border-style: solid;
  box-shadow: 5px 5px 10px rgb(62, 61, 61);
  border-color: rgb(31, 39, 36);
}


/* Nav Bar Styles */
.navbar-container {
  box-sizing: border-box;
  height: var(--navbarHeight);
  background-color: var(--navBarBackgroundColor);
  color: var(--navBarTextColor);
  border-bottom: 1px solid rgb(210, 203, 203);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-items {
  display: flex;
}

.navbar-item {
  padding: 15px;
  font-size: 14px;
  color: white;
  font-weight: 600;
  font-family: var(--appTextFont);
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-family: var(--appTextFont);
}

.company-name {
  padding: 30px;
  font: 30px solid white;
  font-weight: 700;
  font-family: var(--appTextFont);
}
/* Nav Bar Styles */

.app-body {
  display: flex;
}

/* Custom Button Styles */
.custom-btn {

}
/* Custom Button Styles */