body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  /*background: #fafafa;*/
  background-color: #f5f9fc;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

:root{
  --navbarHeight: 60px;
  --backgroundColor: #0a1929;
  --navBarBackgroundColor: #0a1929;
  --borderColor: #102943;
  --navBarTextColor: rgb(238, 229, 229);
  --sidePanelBackgroundColor: rgb(38, 38, 38);
  --sidePanelTextColor: rgb(253, 237, 237);
  --sidePanelWidth: 350px;
  --appTextFont: 'Source Sans Pro';
  --textHeading: 14px;
  --textNormal: 12px;
  --textSmall: 10px;
}

/* Scroll bar Style */
/* Works on Firefox */
* {
  /* scrollbar-width: thin; */
  scrollbar-color: #3a4049  #0d1724;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0d1724;
}

*::-webkit-scrollbar-thumb {
  background-color: #6c727a;
  border-radius: 20px;
  border: 3px solid #0d1724;
}

.App {
  text-align: center;
  height: 100vh;
  font-family: var(--appTextFont);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  background-color: var(--backgroundColor);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-content {
  background-color: var(--navBarBackgroundColor);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.logo-image {
  width: 200px;
  height: auto;
  padding: 3px;
  margin: 35px auto;
  margin-bottom: 5px;
  border: solid 2px rgb(180, 101, 10);
  border-radius: 45%;
}

.form-input-div {
  margin: 10px auto;
  padding: 5px;
  width: 400px;
  height: 80px;
}

.form-input-label {
  display: block;
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 8px;
  font-family: var(--appTextFont);
}

.form-input {
  width: 95%;
  height: 50%;
  padding-left: 20px;
  border-radius: 40px;
  border: 2px solid rgb(143, 110, 110);
  font-size: 20px;
  font-weight: 550;
  font-family: var(--appTextFont);
}

.form-input:focus {
  box-shadow: 5px 5px 10px rgb(179, 179, 179);
}

.app-body {
  display: flex;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.main {
  display: flex;
  /* overflow-y: auto; */
  flex-direction: column;
  background-color: var(--backgroundColor);
}

/* ---------------------------------------------------
    Top NAVBAR STYLE
----------------------------------------------------- */
.navbar-container {
  height: 60px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-family: var(--appTextFont);
  padding: 8px;
  margin: 5px;
  border: 1px solid var(--borderColor);
  border-radius: 10px;
}

.sidebar-colapse-btn {
  color: #ffbca1;
  border-color: #102943;
}

.sidebar-header {
  background: #313b4c;
  color: #adb5bd;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--navBarBackgroundColor);
  border-bottom: 1px solid #102943;
  margin: 0px !important;
  height: var(--navbarHeight);
}

.nav-item {
  /*color: #ced4da;*/
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.open {
  color: #e9ecef;
  background: #313b4c;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  background: #354052;
  color: #adb5bd;
  margin-left: -250px;
  transition: all 0.5s;
  border: 1px solid var(--borderColor);
  border-top: none;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
  height: auto;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show, 
.collapsing {
  background: #313b4c;
}

.nav-item {
  /*color: #ced4da;*/
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.active {
  color: #e9ecef;
  background: #2d3646 !important;
}

.nav-item:hover {
  background: #313b4c;
  color: #fff;
  transition: .2s;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

.nav-link {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #102943;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 0px;
  margin-left: 0;
  /* height: 100vh; */
}

.contentWrapper {
  display: flex;
  height: calc(100vh - var(--navbarHeight));
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow:  hidden;
  }
  
  .content.is-open {
    /*margin-left: 100%;*/
    display: none;
    transition: all 0.5s;
  }
  
  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }
  
  .sidebar.is-open > .sidebar-header button {
    display: block;
  }
  
  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */
.login-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 400px;
  box-shadow: 5px 5px 10px rgb(62, 61, 61); 
  border-color: rgb(31, 39, 36);
  border-radius: 10px;
}

.login-actions {
  width: 300px;
  height: 400px;
  background-color:rgb(143, 110, 110);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-form {
  margin: 40px auto;
  width: 400px;
  height: 400px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ---------------------------------------------------
    Endpoint Actions Page Style
----------------------------------------------------- */
.endpoint-details-container {
  overflow-y: auto;
  color: pink;
}

.list-endpoints-wrapper {
  border-bottom: 1px solid var(--borderColor);
  padding: 10px;
  overflow-y: auto;
  /* height: 480px; */
}

.endpoint-details-wrapper {
  border-bottom: 1px solid var(--borderColor);
  padding: 10px;
  overflow-y: auto;
  height: 300px;
}

.section-toolbar {
  height: 40px;
  margin-left: 5px;
}
