:root{
    --toolBarHeight: 50px;
}

.toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.endpoint-nav-bar {
    height: var(--toolBarHeight);
    width: calc(100% - var(--sidePanelWidth));
    padding-left: 10px;
    border-bottom: 1px solid var(--borderColor);
    position: fixed;
    top: var(--navbarHeight);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.endpoint-content {
    overflow-y: auto;
    margin-top: var(--toolBarHeight);
}

.endpoint-details-container {
    overflow-y: auto;
    color: pink;
    margin: 10px 5px 0px 5px;
    height: 240px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 5px;
}

.list-endpoints-wrapper {
    overflow-y: hidden;
    height: 410px;
}

.endpoint-details-wrapper {
    border-bottom: 1px solid var(--borderColor);
    padding: 10px;
    overflow-y: hidden;
    height: 300px;
}

.section-toolbar {
    height: 40px;
    margin-left: 5px;
}

.endpointCard {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 25px 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid var(--borderColor);
    background-color: #26252d;
    color: white;
}
.cardTitle {
    font-size: 16px;
    font-weight: bold;
    padding-right: 8px;
}
.idAndMethodContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}
.id {
    flex: 1;
    text-align: left;
}
.method {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.methodContainer {
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.card-item {
    text-align: left;
    padding-left: 25px;
}

#endpoint-method-select-label {
    color: white !important;
}

.create-endpoint-container {
    margin: 15px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}